* {
  box-sizing: none;
  margin: 0;
  padding: 0;
}
.table {
  border: 1px solid gray;
  overflow-wrap: break-word;
}
.thead {
  background-color: gray;
  color: white;
}
.thead tr th {
  padding: 0.5rem 1rem;
}
.tbody tr td {
  padding: 0.5rem 1rem;
}
